.repoWrapper {
  gap: 1rem;
  width: 25rem;
  display: flex;
  max-height: 16rem;
  position: relative;
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--primary-border);
}

.repoInnerWrapper {
  gap: 1rem;
  display: flex;
  text-align: left;
  position: relative;
  align-items: center;
}

.repoStatsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repoTitle {
  margin: 0;
  padding: 0;
  max-width: 20rem;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  word-break: break-all;
}

.repoStatsText {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.1875rem;
  font-size: 1em;
  text-align: left;
  align-items: center;
}

.repoAvatar {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--black-border);
}

.repoAvatar {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--black-border);
}

.favoriteButton {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
